<div class="center">
  <h1> Welcome to Text Kingdom </h1>
  <div class="info-container">
    <h2> Unlock your imagination and adventures here. </h2>
    <p class="home-info">
    Enter into a world bound only by your imagination. Write and share text-based adventure games with a community of your fellow travellers. Play unlimited number of games, rating them and sharing your favorites.
    </p>
    <%= link_to "Sign in", signin_path, class: 'sign-in btn' %>
  </div>
</div>