<%= render 'navbar' %>
<div class="center">

	<h1> Gamehub page </h1>

	<form class="navbar-form navbar-left" role="search">
  		<div class="form-group">
    		<input type="text" class="form-control" placeholder="Search">
  		</div>
  		<button type="submit" class="btn btn-default">Submit</button>
	</form>

	<div class="genres">
		<div id="fantasy"><h2>Fantasy</h2></div>
		<div id="mystey"><h2>Mystery</h2></div>
		<div id="dungeon"><h2>Dungeon</h2></div>
	</div>
	
	<div class="panel panel-default newest">
	  <div class="panel-heading">
	    <h3 class="panel-title">Newest Games</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>Title</th>
		  <th>Author</th> 
		  <th>Plays</th>
		  <th>Rating</th>
		  <th></th>
		</tr>

		<!-- Pull subsequent rows from db -->
		<tr>
		  <td>Dungeon</td>
		  <td>Amy117</td> 
		  <td>94</td>
		  <td>40%</td>
		  <td><%= link_to "Play!", '#', class: "play-now btn" %></td>
		</tr>
  	  </table>
	</div>
	
	<div class="panel panel-default top-week">
	  <div class="panel-heading">
	    <h3 class="panel-title">Top of Week</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>Title</th>
		  <th>Author</th> 
		  <th>Plays</th>
		  <th>Rating</th>
		  <th></th>
		</tr>

		<!-- Pull subsequent rows from db -->
		<tr>
		  <td>Dungeon</td>
		  <td>Amy117</td> 
		  <td>94</td>
		  <td>40%</td>
		  <td><%= link_to "Play!", '#', class: "play-now btn" %></td>
		</tr>
  	  </table>
	</div>
	
	<div class="panel panel-default top-year">
	  <div class="panel-heading">
	    <h3 class="panel-title">Top Games this Year</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>Title</th>
		  <th>Author</th> 
		  <th>Plays</th>
		  <th>Rating</th>
		  <th></th>
		</tr>

		<!-- Pull subsequent rows from db -->
		<tr>
		  <td>Dungeon</td>
		  <td>Amy117</td> 
		  <td>94</td>
		  <td>40%</td>
		  <td><%= link_to "Play!", '#', class: "play-now btn" %></td>
		</tr>
  	  </table>
	</div>

</div>