/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;
$gray: #555;

$darkBlue: #1B2253; /*#0C1236;*/
$paleOrange: #FFC799;
$darkRed: #2F0002;
$mediumRed: #630105;
$lightPink: #EC9FA2;
$paleWhite: #FDFDFD;
$mutedBlue: #5872A9;