@import 'bootstrap';
@import 'constants';

/*body,html{
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.navbar{
  background-color: red;
  margin-top: 0px;
  color:white;
}

.nav > li{
  list-style: none;
  display: inline;
}

.footer{
	background-color: red;
}*/


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: $mutedBlue;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  min-width: 60%;
  text-align: center;
  margin: 0px auto;
  /*background-color: $grayLight;*/
  h1 {
    margin-bottom: 10px;
    color: white;
  }
}

a {
  color: $paleWhite;
  &:hover{
    color: $paleWhite;
    text-decoration: underline;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.25em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header{
  /*max-height: 35 px;*/
}

#logo {
  float: left;
  /*margin-right: 10px;*/
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $paleWhite;
  color: $paleWhite;
  small {
    float: left;
    color: $grayLight;
  }
  ul {
    float: right;
    list-style: none;
    margin-right: 20px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Navbar */

nav {
  background-color: $paleWhite;
	ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.navbar-inner {
	margin: 0px;
}

/* Panels  */

.panel, .user-profile{
  border: 2px solid $grayDarker;
  border-radius: 15px;
  min-width: 600px;
  max-width: 1000px;
  margin: 60px auto;
  .panel-heading{
    background-color: $grayDarker;
    color: white;
    border-radius: 10px 10px 0px 0px;
  }
  a{
    color: black;
  }
  a.btn{
    background-color: $grayMediumLight;
    color:$grayDarker;
    &:hover{
      background-color: $grayDarker;
      color: white;
    }
  }
}

/*Pagination */

.pagination{
  ul{
    list-style: none;
    margin: 0 auto;
    li {
      display:inline-block;
      min-width: 25px;
    }
    a:hover{
      text-decoration: none;
      color:$grayLight;
    }
  }
}



/*Table*/

table{
  th{
    text-align:center;
  }
  .plays, .rating, .prog, .options{
    width: 80px;
  }
}

/* Forms */

.form-container{
  position: relative;
  margin-top: 30px;
  border: 2px solid #BBB;
  border-radius: 15px;
  background-color: black;
  width: 400px;
  padding: 40px 0px 30px 0px;
  a:hover{
    color: #AAA;
    text-decoration: none;
  }
  
}

.label, .input{
  margin-bottom: 15px;
  /*position: absolute;*/
}

.label {
  color: white;
  text-align: left;
  /*left: 15%;*/
}

.input {
  border-radius: 5px;
  /*right: 15%;*/
  width: 45%;
}

.form-container p {
  color: white;
}