@import 'bootstrap';

/*body,html{
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.navbar{
  background-color: red;
  margin-top: 0px;
  color:white;
}

.nav > li{
  list-style: none;
  display: inline;
}

.footer{
	background-color: red;
}*/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;
$gray: #555;

$darkBlue: #1B2253; /*#0C1236;*/
$paleOrange: #FFC799;
$darkRed: #2F0002;
$mediumRed: #630105;
$lightPink: #EC9FA2;
$paleWhite: #FDFDFD;
$mutedBlue: #5872A9;
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: $mutedBlue;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  width: 60%;
  text-align: center;
  margin: 0px auto;
  /*background-color: $grayLight;*/
  h1 {
    margin-bottom: 10px;
    color: white;
  }
}

a {
  color: $paleWhite;
  &:hover{
    color: $paleWhite;
    text-decoration: underline;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.25em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header{
  /*max-height: 35 px;*/
}

#logo {
  float: left;
  /*margin-right: 10px;*/
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $paleWhite;
  color: $paleWhite;
  small {
    float: left;
    color: $grayLight;
  }
  ul {
    float: right;
    list-style: none;
    margin-right: 20px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Navbar */

nav {
  background-color: $paleWhite;
	ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.navbar-inner {
	margin: 0px;
}

.genres {
	#fantasy {
		background-image: url('http://images6.fanpop.com/image/photos/32600000/Fantasy-fantasy-32624354-1920-1080.jpg');
		background-position: center;
		background-size: cover;
	}
	#mystery {
		background-image: url('http://d2buyft38glmwk.cloudfront.net/media/images/canonical/mast-sherlock3-personality-icon-high-res.jpg');
		background-position: center;
		background-size: cover;
	}
	#dungeon {
		background-image: url('http://previewcf.turbosquid.com/Preview/2014/05/18__20_00_00/004_1.jpgd08b1f5f-f96d-4822-938f-bb5149cab051Large.jpg');
		background-position: center;
		background-size: cover;
	}
}

.genre-panel {
	color: white;
	border-style: solid;
	border-color: $grayDarker;
	border-radius: 8px;
	height: 200px;
	margin: 5px;

	h1 {
		color: white;
	}

	:hover {
		opacity: 0.4;
	}
}

.search {
	width: 20%;
	display: inline-block;
}

/* Panels  */

.panel, .user-profile{
  border: 2px solid $grayDarker;
  border-radius: 15px;
  .panel-heading{
    background-color: $grayDarker;
    color: white;
    border-radius: 10px 10px 0px 0px;
  }
  a.btn{
    background-color: $grayMediumLight;
    color:$grayDarker;
    &:hover{
      background-color: $grayDarker;
      color: white;
    }

  }
}

/*Table*/

table{
  th{
    text-align:center;
  }
  .plays, .rating, .prog, .options{
    width: 80px;
  }
}