/*Account Page Specific styles*/

.user-profile{
  display:inline-block;
  margin-top: 30px;
  background-color:white;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
}

ul.profile-left{
  float:left;
  text-align: left;
  padding:0px;
  margin: 0px;
  li{
    list-style: none;
  }
}


.profile-right{
  float: right;
  width:70%;
}


.user-played-games{
  margin-top: 30px;
}